$breakpoints: (
	small: 38em,
	medium: 50em,
	large: 62em,
);

$themes: (
	light: (
		primary: (),
		accent: (),
		neutral: (),
	),
	dark: (
		primary: (),
		accent: (),
		neutral: (),
	),
);

$font-sizes: ();

$font-weights: ();
