$breakpoints: (
	small: 38em,
	medium: 50em,
	large: 62em,
);

$themes: (
	light: (
		primary: (
			400: hsl(217 20% 51%),
			700: hsl(217 35% 45%),
		),
		accent: (
			400: hsl(0 92% 62%),
			600: hsl(212 100% 69%),
			700: hsl(212 100% 50%),
		),
		neutral: (
			100: hsl(0 0% 100%),
			200: hsl(227 100% 98%),
			700: hsl(217 21% 21%),
			800: hsl(220 18% 16%),
			900: hsl(0 0% 0%),
		),
	),
	dark: (
		primary: (
			400: hsl(222 41% 20%),
			700: hsl(220 40% 13%),
		),
		accent: (
			400: hsl(0 92% 62%),
			600: hsl(212 100% 69%),
			700: hsl(212 100% 50%),
		),
		neutral: (
			100: hsl(0 0% 100%),
			300: hsl(222, 44%, 70%),
			900: hsl(0 0% 0%),
		),
	),
);

$font-sizes: (
	small: (
		100: 1.1rem,
		400: 1.3rem,
		500: 1.4rem,
		600: 1.6rem,
		700: 2.6rem,
	),
	medium: (
		100: 1.3rem,
		400: 1.5rem,
		500: 1.6rem,
		600: 2.2rem,
		700: 2.6rem,
	),
);
// 2.6rem -> 2.6rem -> 2.6rem   devfinder heading
// 1.3rem -> 1.3rem -> 1.3rem   theme switch
//
// 1.6rem -> 2.6rem -> 2.6rem   user name
// 1.6rem -> 2.2rem -> 2.2rem   'table' number
//
// 1.3rem -> 1.8rem -> 1.8rem   input
// 1.3rem -> 1.5rem -> 1.5rem   user tag    changed 1.5rem to 1.6rem
// 1.3rem -> 1.5rem -> 1.5rem   joined
// 1.3rem -> 1.5rem -> 1.5rem   user bio
// 1.3rem -> 1.5rem -> 1.5rem   bottom links
//
// 1.4rem -> 1.6rem -> 1.6rem   button
// 1.1rem -> 1.3rem -> 1.3rem   'table' title

$font-weights: (
	400: 400,
	700: 700,
);

$border-radius: (
	400: 1rem,
	600: 1.5rem,
	900: 100vmax,
);

$spacings: (
	em: (
		200: 0.5em,
		300: 0.75em,
		400: 1em,
		500: 1.25em,
		600: 2em,
	),
	rem: (
		300: 1.6rem,
		400: 2.4rem,
		500: 3.2rem,
		550: 3.6rem,
	),
);
