@use '../base/mixins';

.finder-card {
	--padding-min: var(--spacing-rem-400);
	--padding-max: calc(var(--padding-min) * 2);

	display: grid;
	grid-template-columns: auto 1fr;
	gap: clamp(var(--spacing-rem-400), 4vw, var(--spacing-rem-550));

	padding: clamp(var(--padding-min), 6vw, var(--padding-max));
	background-color: var(--bg-card);
	border-radius: var(--borr-600);

	// sections
	& > section,
	& > footer {
		grid-column: span 2;

		@include mixins.mq(large) {
			grid-column: 2;
		}
	}

	&__header {
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: var(--spacing-em-200);
		line-height: 1.1;

		@include mixins.mq(large) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__bio {
		font-size: var(--fz-400);
	}

	// elements
	&__avatar {
		width: clamp(7rem, 20vw, 11.5rem);
		aspect-ratio: 1;
		border-radius: 50%;

		@include mixins.mq(large) {
			grid-row: 1 / span 4;
		}
	}

	&__username {
		font-size: var(--fz-username);
		color: var(--clr-username);
	}

	&__tag {
		font-size: var(--fz-400);
		color: var(--clr-user-tag);
	}

	&__joined {
		margin-top: 0.25em;
		font-size: var(--fz-400);
	}
}
